openapi: 3.1.0
# Feature 024 (2026-08-10). Contrato de GET /api/v1/status (features 002, 022 e 024).
# Fonte: pages/api/v1/status.ts e infra/saude.ts; espelha pages-api-v1-status/contracts.md.
# Delta desta passagem: o ramo íntegro de banco passou de UMA chave para QUATRO, por acréscimo de
# teto_de_conexoes, conexoes_abertas e versao, os três obrigatórios (D-09). As seis chaves da raiz
# e o ramo degradado seguem idênticos em nome, tipo e semântica, e por isso o caminho continua em
# /api/v1. A passagem anterior, a re-extração 4 de 2026-07-28, foi a que levou a raiz de três
# para seis chaves.
info:
  title: APS Inteligente — API de status
  version: v1
  description: >-
    Health-check público da plataforma. Sem autenticação, sem estado próprio, sem
    dado clínico (ADR 0008). Desde a feature 022 a rota consulta o banco a cada
    requisição e responde 200 em todo estado dele, inclusive degradado: as seis
    calculadoras são integralmente cliente e seguem servindo com o banco fora, de
    modo que 503 afirmaria uma queda que não houve (MD-0031, ADR 0020). Mudança
    incompatível do corpo exige /api/v2.
servers:
  - url: https://apsinteligente.app
    description: Produção (domínio próprio; apex redireciona 308 → www.apsinteligente.app)
  - url: http://localhost:3000
    description: Desenvolvimento local
paths:
  /api/v1/status:
    get:
      operationId: obterStatus
      summary: Status do deploy e saúde do banco
      description: >-
        Observabilidade do deploy: versão, commit, publicação, ambiente e estado
        do banco. A resposta jamais sai de cache (Cache-Control: no-store).
      responses:
        "200":
          description: >-
            Status atual. Devolvido também quando o banco está degradado — o
            código HTTP descreve a disponibilidade do produto, não a da
            dependência acessória.
          headers:
            Cache-Control:
              schema:
                type: string
                const: no-store
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
              examples:
                integro:
                  summary: Banco íntegro
                  value:
                    atualizado_em: "2026-07-28T23:41:07.412Z"
                    versao: "0.1.0"
                    commit: "84738fe563b59c78849250e9992bd7a2f5b33569"
                    publicado_em: "2026-07-28T23:38:00.000Z"
                    ambiente: producao
                    banco:
                      estado: integro
                      teto_de_conexoes: 100
                      conexoes_abertas: 3
                      versao: "17.10"
                degradado:
                  summary: Banco fora do ar
                  value:
                    atualizado_em: "2026-07-28T23:41:07.412Z"
                    versao: "0.1.0"
                    commit: "84738fe563b59c78849250e9992bd7a2f5b33569"
                    publicado_em: "2026-07-28T23:38:00.000Z"
                    ambiente: producao
                    banco:
                      estado: degradado
                      causa: conexao
                local:
                  summary: Execução local, sem variáveis de deploy
                  value:
                    atualizado_em: "2026-07-28T20:12:44.008Z"
                    versao: "0.1.0"
                    commit: local
                    publicado_em: null
                    ambiente: local
                    banco:
                      estado: integro
                      teto_de_conexoes: 100
                      conexoes_abertas: 1
                      versao: "17.10"
        "405":
          description: Método não permitido (apenas GET)
          headers:
            Allow:
              schema:
                type: string
                const: GET
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
              example:
                erro: "Método não permitido; use GET."
components:
  schemas:
    Status:
      type: object
      required: [atualizado_em, versao, commit, publicado_em, ambiente, banco]
      properties:
        atualizado_em:
          type: string
          format: date-time
          description: Instante da resposta em ISO 8601 (UTC)
        versao:
          type: string
          description: package.json.version no build (semver)
        commit:
          type: string
          description: SHA do commit (VERCEL_GIT_COMMIT_SHA) ou "local" fora da Vercel
        publicado_em:
          type: [string, "null"]
          format: date-time
          description: APS_PUBLICADO_EM; nulo quando a variável não está definida
        ambiente:
          type: string
          enum: [producao, pre-visualizacao, local]
          description: Derivado de VERCEL_ENV
        banco:
          $ref: "#/components/schemas/EstadoDoBanco"
      additionalProperties: false
    EstadoDoBanco:
      oneOf:
        - $ref: "#/components/schemas/BancoIntegro"
        - $ref: "#/components/schemas/BancoDegradado"
      discriminator:
        propertyName: estado
    BancoIntegro:
      type: object
      required: [estado, teto_de_conexoes, conexoes_abertas, versao]
      properties:
        estado:
          type: string
          const: integro
        teto_de_conexoes:
          type: integer
          minimum: 1
          description: >-
            max_connections do servidor alcançado, apurado na mesma ida ao banco que
            decide o estado. O escopo é o do servidor: outras bases da instância
            consomem deste teto sem entrar na contagem abaixo, de modo que a razão
            entre os dois números é indicativa, e não taxa exata de ocupação.
        conexoes_abertas:
          type: integer
          minimum: 1
          description: >-
            Conexões abertas contra o banco corrente no instante da consulta. Nunca
            vale zero, porque a própria requisição se conta enquanto apura: um vale um
            significa banco ocioso, e não banco vazio.
        versao:
          type: string
          description: >-
            Versão do servidor de banco, apenas o prefixo numérico, no molde "17.10".
            A cadeia completa nomeia produto, arquitetura e compilador, e a denylist de
            privacidade a proíbe (feature 024, RN-06).
      additionalProperties: false
    BancoDegradado:
      type: object
      required: [estado, causa]
      properties:
        estado:
          type: string
          const: degradado
        causa:
          type: string
          enum: [conexao, consulta, configuracao, tempo_esgotado]
          description: >-
            conexao — recusa, reinício, host inexistente, credencial ou banco
            inválidos; consulta — falha de execução ou rejeição fora do contrato;
            configuracao — DATABASE_URL ausente ou malformada; tempo_esgotado —
            estouro do teto de APS_TIMEOUT_SAUDE_MS, na conexão ou na consulta.
      additionalProperties: false
    Erro:
      type: object
      required: [erro]
      properties:
        erro:
          type: string
      additionalProperties: false
